@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
.navbars{
    background-color: rgb(53, 53, 53);
    height: 100vh;
}
.logo img{
    width: 40%;
    margin-top: 10px;
}
.nav-links-active{
    background-color: rgba(88, 88, 88, 0.87);
    padding: 15px;
}
.nav-links{
    background-color: rgb(53, 53, 53);
    padding: 15px;
    transition: 500ms;
}
.nav-links:hover{
    background-color: rgba(88, 88, 88, 0.87);
    padding: 15px;
    transition: 500ms;
}
.navbars a{
    text-decoration: none;
}
.link{
    color: white;
    font-family: 'Manrope', sans-serif;
}


.carpi button{
    background: none;
    border: none;
    font-size: 30px;
    color: white;
}


.ziyaretci{
    padding: 20px;
    color: white;
    font-family: 'Manrope', sans-serif;
    background-color: rgb(53, 53, 53);
    font-size: 25px;
    border-radius: 10px;
}

.ziyaretci .sayi{
    margin-left: 40px
}
.dashboard .baslik{
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    left: 9%;
}

.dashboard .cizgi{
    padding: 10px;
    height: 50vh;
    background-color: red;
    width: 8%;
    position: relative;
    left: 5%;
    border-radius: 10px;
}